.dockerignore
Dockerfile

.git

# Unit test / Coverage reports
.cache
.pytest_cache

# PyCharm
.idea

# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]

node_modules
.gitchangelog.rc
static/js
venv
