{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended",
    "airbnb-base",
    "airbnb/rules/react"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "max-len": ["error", { "code": 120 }],
    "quotes": [2, "single", "avoid-escape"],
    "jsx-quotes":"off"
  },
  "plugins": [
    "flowtype",
    "react",
    "graphql"
  ],
  "globals": {
    "GEOIMAGENET_API_URL": false,
    "GEOSERVER_URL": false,
    "ANNOTATION_NAMESPACE": false,
    "ANNOTATION_LAYER": false,
    "GRAPHQL_ENDPOINT": false,
    "MAGPIE_ENDPOINT": false,
    "ML_ENDPOINT": false,
    "CONTACT_EMAIL": false,
    "THELPER_MODEL_UPLOAD_INSTRUCTIONS": false,
    "FRONTEND_JS_SENTRY_DSN": false
  }
}
