venv
.idea
*__pycache__*
*.pytest_cache
geckodriver.log
node_modules
static/js

coverage

# production
build

# misc
.DS_Store

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
.vscode

dist/*

.graphqlconfig
schema.graphql

flow-typed/npm/*
!flow-typed/npm/ol_vx.x.x.js
