div.notification {
    border-radius: 5px;
    color: white;
    padding: 24px;
    margin: 24px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    cursor: pointer;
    max-width: calc(100% / 2);
}
div.notification.error {
    background-color: var(--color-red);
}
div.notification.confirm {
    background-color: var(--color-light-red);
}
div.notification div.actions {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
