div.notification.confirm {
    top: calc((100% - var(--width-sidebar)) / 2);
    left: calc((100% - var(--width-sidebar)) / 2);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    color: white;
    padding: 24px;
    margin: 24px;
    position: absolute;
    z-index: 1000;
    background-color: white;
    cursor: pointer;
    max-width: calc(100% / 2);
}

div.notification.confirm {
    background-color: var(--color-light-red);
}

div.notification div.actions {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
