.layout {
    padding: var(--spacing-width);
    height: 100%;
    display: grid;
    grid-gap: var(--spacing-width);
    grid-template-columns: 1fr minmax(600px, 1fr) 1fr;
    grid-template-rows: 1fr max-content 1fr;
}
.layout .session {
    grid-column: 1/2;
    grid-row: 1/2;
}
.layout .left {
    grid-column: 1/2;
    grid-row: 2/3;
}
.layout .content {
    overflow-y: auto;
    grid-column: 2/4;
    grid-row: 1/4;
}
.content .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
