div#root-platform {
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul > li.collapsed > ul {
    display: none;
}

ul > li {
    cursor: pointer;
}

ul.taxonomy_classes {
    height: var(--height-taxonomy-browser-classes);
    overflow-y: scroll;
}

ul.taxonomy_classes label {
    cursor: pointer;
}

label.checkbox {
    font-size: 30px;
    height: 30px;
    width: 30px;
}

label.checkbox span {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
}

label.checkbox.eye [type=checkbox] + span {
    content: var(--icon-eye-slash);
}

label.checkbox.eye [type=checkbox]:checked + span {
    content: var(--icon-eye);
    visibility: visible;
}

label.checkbox.pin [type=checkbox]:not(:checked) + span {
    content: var(--icon-pin-black);
    opacity: 0.45;
}

label.checkbox.pin [type=checkbox]:checked + span {
    content: var(--icon-pin-blue);
    visibility: visible;
}

.taxonomy_class_list_element {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.release {
    opacity: 0.55;
}

.release:hover {
    opacity: 1;
}

.taxonomy_class_list_element .actions {
    display: flex;
    align-items: center;
    padding: 0 12px;
    visibility: hidden;
}

.taxonomy_class_list_element:hover .actions {
    visibility: visible;
}

span.icon {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.actions {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.actions svg {
    margin-left: var(--gutter-small);
}

.actions svg:not(.inactive) {
    cursor: pointer;
}

.actions .active {
    color: var(--color-blue);
}

.actions .inactive {
    color: var(--light-gray);
}

div.taxonomy {
    margin: 20px 0;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

div.taxonomy button {
    padding: 0 20px;
}
