div#root-platform {
    height: 100%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul > li.collapsed > ul {
    display: none;
}
ul > li {
    cursor: pointer;
}
ul.taxonomy_classes {
    height: var(--height-taxonomy-browser-classes);
    overflow-y: scroll;
}
ul.taxonomy_classes label {
    cursor: pointer;
}
input[type=checkbox] {
    /*
    TODO if accessibility and using tab becomes a problem, uncomment these, and find a way to have both the input visible but without the alignment issue in the eyes column
    -moz-appearance: none;
    -webkit-appearance: none;
    */
    display: none;
}
label.checkbox_eye {
    font-size: 30px;
    height: 30px;
    width: 30px;
}
label.checkbox_eye span {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
}
label.checkbox_eye [type=checkbox] + span {
    content: var(--icon-eye-slash);
}
label.checkbox_eye [type=checkbox]:checked + span {
    content: var(--icon-eye);
    visibility: visible;
}
.taxonomy_class_list_element {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.release {
    opacity: 0.55;
}
.release:hover {
    opacity: 1;
}
.taxonomy_class_list_element .actions {
    display: flex;
    align-items: center;
    padding: 0 12px;
    visibility: hidden;
}
.taxonomy_class_list_element:hover .actions {
    visibility: visible;
}
span.icon {
    height: 30px;
    width: 30px;
    display: inline-block;
}
.actions {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.actions svg {
    margin-left: var(--gutter-small);
}
.actions svg:not(.inactive) {
    cursor: pointer;
}
.actions .active {
    color: var(--color-blue);
}
.actions .inactive {
    color: var(--light-gray);
}
div.taxonomy {
    margin: 20px 0;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}
div.taxonomy button {
    padding: 0 20px;
}
