{% extends 'index_platform.html' %}
{% block head %}
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous">
<script type="application/ecmascript">
    // Dropping the globals in global scope, because globals
    // Your IDE might think they are unused, but they really are in bootstrap.js!
    const GEOSERVER_URL = '{{ GEOSERVER_URL }}';
    const GEOIMAGENET_API_URL = '{{ GEOIMAGENET_API_URL }}';
    const ANNOTATION_NAMESPACE_URI = '{{ ANNOTATION_NAMESPACE_URI }}';
    const ANNOTATION_NAMESPACE = '{{ ANNOTATION_NAMESPACE }}';
    const ANNOTATION_LAYER = '{{ ANNOTATION_LAYER }}';
</script>
<script type="module" src="/js/bootstrap.js"></script>
<link href="/src/css/style_platform.css" rel="stylesheet">
<link href="/src/css/open_layers.css" rel="stylesheet">
<link href="/src/css/layer_switcher.css" rel="stylesheet">
<link href="/src/css/notifications.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div id="root-platform"></div>
{% endblock %}
