{% extends 'index_platform.html' %}
{% block body %}
<div id="map" class="map"></div>
<div class="right paper">
    <div class="taxonomy" id="taxonomy">
        <h3>{{ gettext('Taxonomies') }}</h3>
        <table>
            <thead>
            <tr>
                <td>{{ gettext('Version') }}</td>
                <td>{{ gettext('Nom') }}</td>
            </tr>
            </thead>
            <tbody id="taxonomy_root"></tbody>
        </table>
        <ul id="taxonomy_classes" class="taxonomy_classes"></ul>
    </div>
    <div id="layer-switcher"></div>
</div>
{% endblock %}
