{% extends 'index_platform.html' %}
{% block head %}
<script defer
        src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
        integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
        crossorigin="anonymous"></script>
<script type="application/ecmascript">
    // Dropping the globals in global scope, because globals
    // Your IDE might think they are unused, but they really are in bootstrap.js!
    const GEOSERVER_URL = '{{ GEOSERVER_URL }}';
    const GEOIMAGENET_API_URL = '{{ GEOIMAGENET_API_URL }}';
    const ANNOTATION_NAMESPACE_URI = '{{ ANNOTATION_NAMESPACE_URI }}';
    const ANNOTATION_NAMESPACE = '{{ ANNOTATION_NAMESPACE }}';
    const ANNOTATION_LAYER = '{{ ANNOTATION_LAYER }}';
</script>
<script type="module" src="/js/bootstrap.js"></script>
<script src="/js/lib/ol.js"></script>
<script src="/js/lib/mobx.js"></script>
<script src="/js/layer-switcher.js" type="application/ecmascript"></script>
<link href="/css/style_platform.css" rel="stylesheet">
<link href="/css/open_layers.css" rel="stylesheet">
<link href="/css/layer_switcher.css" rel="stylesheet">
<link href="/css/notifications.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div id="map" class="map">
    <span id="coordinates" class="coordinates"></span>
</div>
<div class="right paper">
    <div id="actions" class="actions"></div>
    <section class="taxonomy opened">
        <button class="section-handle">{{ gettext('Taxonomies and Classes') }}</button>
        <div id="taxonomy" class="taxonomy"></div>
        <ul id="taxonomy_classes" class="taxonomy_classes"></ul>
    </section>
    <section class="layer-switcher closed">
        <button class="section-handle">{{ gettext('Basemaps, Images and Filters') }}</button>
        <div id="layer-switcher" class="layer-switcher-container"></div>
    </section>
</div>
{% endblock %}
