<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="/js/root.js" type="application/ecmascript"></script>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>
    <script src="/js/layer-switcher.js" type="application/ecmascript"></script>
    <script type="application/ecmascript">
        addEventListener('DOMContentLoaded', () => {

            const mapManager = new MapManager('{{ SERVER_PROTOCOL }}', '{{ GEOSERVER_URL }}', '{{ ANNOTATION_NAMESPACE }}', '{{ ANNOTATION_LAYER }}', 'map', 'type');

            fetch(`/taxonomy/Objets`)
                .then(res => res.json())
                .then(json => {
                    console.log(json);

                    new TaxonomyBrowser(json, mapManager);
                })
                .catch(err => console.log(err));
        });
    </script>
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/style_platform.css" rel="stylesheet">
    <link href="/css/open_layers.css" rel="stylesheet">
    <link href="/css/layer_switcher.css" rel="stylesheet">
    {% include 'components/favicons.html' %}
</head>
<body>
{% block body %}
<p>{{ gettext('default body') }}</p>
{% endblock %}
</body>
</html>
