<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="/js/root.js" type="application/ecmascript"></script>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mobx/5.8.0/mobx.umd.min.js"></script>
    <script src="/js/layer-switcher.js" type="application/ecmascript"></script>
    <script type="application/ecmascript">
        addEventListener('DOMContentLoaded', () => {
            const map_manager = new MapManager(
                '{{ SERVER_PROTOCOL }}',
                '{{ GEOSERVER_URL }}',
                '{{ ANNOTATION_NAMESPACE }}',
                '{{ ANNOTATION_LAYER }}',
                'map',
                'type'
            );
            new TaxonomyBrowser(null, map_manager)
        });
    </script>
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/style_platform.css" rel="stylesheet">
    <link href="/css/open_layers.css" rel="stylesheet">
    <link href="/css/layer_switcher.css" rel="stylesheet">
    {% include 'components/favicons.html' %}
</head>
<body>
{% block body %}
<p>{{ gettext('default body') }}</p>
{% endblock %}
</body>
</html>
