{% extends 'index_web.html' %}
{% block body %}
<div class="layout">
    <div class="session paper">
        {% block session %}
        {% if logged %}
        {% include 'components/menu_platform.html' %}
        {% else %}
        {% include 'components/session_status.html' %}
        {% endif %}
        {% endblock %}
    </div>
    <div class="content paper">
        {% block content %}{% endblock %}
    </div>
    <div class="left paper">
        {% block left %}
        {% include 'components/menu_public.html' %}
        {% endblock %}
    </div>
</div>
{% endblock %}
