{% if logged_in %}
<p>{{ gettext('Bonjour, %(user_name)s', user_name=user_name) }}</p>
<a href="/logout">{{ gettext('Déconnexion') }}</a>
{% else %}
<form method="post" action="/login">
    <label>{{ gettext('username') }}<input type="text" name="user_name" /></label>
    <label>{{ gettext('password') }}<input type="password" name="password" /></label>
    <button type="submit">{{ gettext('Connexion') }}</button>
</form>
<p>{{ gettext('Pour demander un accès à la plateforme veuillez écrire à (insérer email)') }}</p>
{% endif %}
